<div class="question_left padding-top-20">
  <%= render :partial => "banners/banner_1_2_#{Settings['app.city']}" %>

  <div class='filter_header'>
    <% if request.path == '/questions' %>
      <% content_for :header_page_title do %>
        <h1><%= page_meta ? page_meta.header.squish.html_safe : t("meta.#{Settings['app.city']}.reviews.page_header") %></h1>
      <% end %>
    <% else %>
      <% if page_meta %>
        <h1><%= page_meta.header.squish.html_safe %></h1>
      <% else %>
        <h1><%= t("meta.#{Settings['app.city']}.reviews.page_header") %></h1>
      <% end %>
    <% end %>
  </div>

  <div class="filter_and_share">
    <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
  </div>

  <div class='question_content_wrapper js-button-pagination'>
    <% if @presenter.collection.any? %>
      <ul class='posters js-paginable-list' data-item-width="220">
        <%= render :partial => 'list', :locals => { :collection => @presenter.collection  } %>
      </ul>
    <% else %>
      <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>
</div>

<div class="question_right">
  <%= render :partial => 'commons/promotions' %>
</div>
