<%= simple_form_for GalleryImage.new, :url => my_gallery_images_path, :html => { :multipart => true, :class => 'upload_gallery_images', :data => { :title => 'Загрузка изображения' } } do |f| %>
  <%= f.input :file, :input_html => { :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<%= simple_nested_form_for @review,
  :as => :review,
  :url => @review.new_record? ? my_reviews_path : my_review_path(@review.id),
  :html => { :class => "my_review_form default_simple_form my_form" } do |f| %>

  <%= f.input :title %>

  <%= f.input :content, :as => :text, :input_html => { :id => 'html', :class => 'markitup with-preview' }  %>

  <div class='only_tomsk_wrapper'>
    <%= f.input :only_tomsk, :label => "Только #{current_city_ru}" %>
  </div>

  <div class="select_categories">
    <div class="categories_title">
      <%= label_tag :cat, "Категория <abbr title='Обязательное поле'>*</abbr>".html_safe %>
    </div>

    <%= select_tag :cat, options_for_select(Review.categories.options - [["Мегаполис", "megapolis"], ["Реклама+", "adv_plus"]]), :class => 'select_type', :prompt => '' %>
    <%= f.input :tagit_categories,
      :as => :string,
      :label => false,
      :input_html => { :class => 'tagit_categories', :value => @review.categories.map(&:text).join(', ') }%>

    <%= hidden_field_tag "review[category_flag]", true %>
  </div>

  <%= f.input :tag, :as => :string,
    :input_html => { :data => { 'autocomplete-source' => tags_available_my_reviews_path } } %>

  <%= f.input :generate_poster, :as => :hidden, :input_html => { :value => true } %>

  <div class='submit'>
    <%= f.submit 'Сохранить', :class => 'flat-btn btn-lg btn-orange' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

<%= render :partial => 'my/commons/textile_syntax' %>
