<div class='steps_wrapper'>
  <div class='step first <%= "complete" if resource.first_step_complete? || params[:step] == 'first' %>'>
    <% if resource.first_step_complete? %>
      <div class='number'>&#10004;</div>
    <% else %>
      <div class='number'>1</div>
    <% end %>
    <div class='text'>Добавить обзор</div>
  </div>

  <div class='step second <%= "complete" if resource.second_step_complete? || params[:step] == 'second' %>'>
    <% if resource.second_step_complete? %>
      <%= link_to poster_edit_my_review_path(resource.id, :step => :second) do %>
        <div class='number'>&#10004;</div>
        <div class='text'>Добавить постер</div>
      <% end %>
    <% else %>
      <% if resource.persisted? %>
        <%= link_to poster_edit_my_review_path(resource.id, :step => :second) do %>
          <div class='number'>2</div>
          <div class='text'>Добавить постер</div>
        <% end %>
      <% else %>
        <div class='number'>2</div>
        <div class='text'>Добавить постер</div>
      <% end %>
    <% end %>
  </div>

  <div class='step third <%= "complete" if resource.third_step_complete? || params[:step] == 'third' %>'>
    <% if resource.third_step_complete? %>
      <%= link_to images_add_my_review_path(resource.id, :step => :third) do %>
        <div class='number'>&#10004;</div>
        <div class='text'>Добавить фотографии</div>
      <% end %>
    <% else %>
      <% if resource.persisted? %>
        <%= link_to images_add_my_review_path(resource.id, :step => :third) do %>
          <div class='number'>3</div>
          <div class='text'>Добавить фотографии</div>
        <% end %>
      <% else %>
        <div class='number'>3</div>
        <div class='text'>Добавить фотографии</div>
      <% end %>
    <% end %>
  </div>

  <div class='step fourth <%= "complete" if resource.fourth_step_complete? || params[:step] == 'fourth' %>'>
    <% if resource.fourth_step_complete? %>
      <%= link_to add_related_items_my_review_path(@review.id, :step => :fourth) do %>
        <div class='number'>&#10004;</div>
        <div class='text'>Связать обзор с чем-либо</div>
      <% end %>
    <% else %>
      <% if resource.persisted? %>
        <%= link_to add_related_items_my_review_path(@review.id, :step => :fourth) do %>
          <div class='number'>4</div>
          <div class='text'>Связать обзор с чем-либо</div>
        <% end %>
      <% else %>
        <div class='number'>4</div>
        <div class='text'>Связать обзор с чем-либо</div>
      <% end %>
    <% end %>
  </div>

  <div class="controls">
    <% if resource.persisted? %>
      <% if resource.draft? %>
        <% if current_user.review_manager? %>
          <%= link_to 'Опубликовать', publish_my_review_path(@review.id), :method => :put, :class => 'flat-btn btn-orange btn-lg', :confirm => 'Вы уверены что хотите опубликовать обзор?' %>
        <% else %>
          <%= link_to 'Опубликовать', moderating_my_review_path(@review.id), :method => :put, :class => 'flat-btn btn-orange btn-lg',
            :confirm => 'Вы уверены?' %>
        <% end %>
      <% elsif resource.payment?  %>
        <%= link_to "Оплатить (#{@review.price} руб.)", my_review_review_payments_path(@review.id), :method => :post, :target => '_blank', :class => 'flat-btn btn-green btn-lg' %>
      <% else %>
        <%= link_to 'В черновики', draft_my_review_path(@review.id), :method => :put, :class => 'flat-btn btn-grey btn-lg',
          :confirm => 'Вы уверены? После подтверждения обзор будет недоступен пользователям сайта!' %>
      <% end %>
    <% else %>
      <%= link_to 'Опубликовать', '#',  :class => 'flat-btn btn-disabled btn-lg' %>
    <% end %>


  </div>

  <% if resource.has_annotation_gallery? %>
    <div class='switch_wrapper js-switch-wrapper'>
      <div class='label'>Отображать, как коллаж фотографий</div>
      <div class='onoffswitch <%= "active" if resource.show_as_collage? %> js-switch' id='<%= resource.id %>'>
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
        <label class="onoffswitch-label" for="myonoffswitch"></label>
      </div>
    </div>
  <% end %>
</div>
<div class="state_wrapper">
  <p  class="image"><%= image_tag "public/review_state_#{@review.state}.png" %></p>
  <p class='state' style='<%= "color: #{@review.state == 'published' ? '#00a83f' : @review.state == 'draft' ? '#774b33' : @review.state == 'payment' ? '#005cca' : '#ff6600' };".html_safe %>' ><%= t("review.state.#{@review.state}") %></p>
  <% if resource.moderating? %>
    <span class='message_edit'>(Вы не можете редактировать обзор пока он находится в процессе модерации!)</span>
  <% end %>
</div>
