<div class='my_wrapper <%= auto_content_class %>'>

  <%= render :partial => 'steps', :locals => { :resource => @review } %>

  <div class="left">
    <div class="separator">
      Так пост будет выглядеть при просмотре
      <div class='arrow'></div>
      <span class="icons floatr">
        <%= link_to '', edit_my_review_path(@review.id), :class => 'icon-flat icon-pencil show_tipsy', :title => 'Редактировать обзор' %>
        <%= link_to '', my_review_path(@review.id), :class => 'icon-flat icon-delete show_tipsy', :method => :delete, :confirm => 'Вы уверены? Информация будет удалена без возможности восстановления!', :title => 'Удалить обзор' %>
      </span>
    </div>

    <%= render :partial => 'my/reviews/review', :locals => { :review => @review  } %>

    <ul class="tags">
      <% @review.tags.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </div>

  <div class='right js-right-side-my-reviews'>
    <%= render :partial => 'right_side', :locals => { :review => @review } %>
  </div>
</div>
