<div class="banner12_contest_wrapper <%= params['controller'].to_s.split('/').try(&:first) %>">
  <ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
    <% unless params[:id] == 'miss-ofis-2015' %>
      <li class='js-banner miss-ofis-banner'>
        <%= link_to (image_tag 'public/banners/banner-miss-ofis.jpg', size: '880x80'), contest_path('miss-ofis-2015'), class: 'js-stat-miss-ofis' %>
      </li>
    <% end %>

    <% if Time.zone.parse('09.07.2015') > Time.zone.now %>
      <li class='js-banner kukolka-banner'>
        <%= link_to (image_tag 'public/banners/kukolka-banner_1_2.gif', size: '880x80'), 'http://kukolka.tomsk.ru/', target: :_blank, class: 'js-stat-kukolka' %>
      </li>
    <% end %>

    <li class='js-banner quest-banner'>
      <%= link_to (image_tag 'public/banners/banner_1_2_put_tomicha_banner.jpg', size: '880x80'), contest_path('proyti-kvest-put-tomicha'), target: :_blank, class: 'js-stat-quest' %>
    </li>
  </ul>
</div>
