<div class="banner12_contest_wrapper <%= params['controller'].to_s.split('/').try(&:first) %>">
  <ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
    <% unless params[:id] == 'detskaya-supermodel' %>
      <% if DateTime.now > Date.parse("12.10.2015").end_of_day %>
        <li class='js-banner detskaya-sm--banner'>
          <%= link_to (image_tag 'public/banners/banner_1_2_detskaya_sm.jpg', size: '880x80'), contest_path('detskaya-supermodel'), class: 'js-stat-detskaya-sm' %>
        </li>
      <% end %>
    <% end %>

    <% unless params[:id] == 'miss-pivovarochka-2015-v-tomske' %>
      <li class='js-banner'>
        <%= link_to (image_tag 'public/banners/banner_1_2_tomsk_pivovarochka.jpg', size: '880x80'), contest_path('miss-pivovarochka-2015-v-tomske'), class: 'js-stat-miss-pivovarochka' %>
      </li>
    <% end %>

    <% unless params[:id] == 'fotokonkurs-ya-i-moi-podruzhki' %>
      <li class='js-banner'>
        <%= link_to (image_tag 'public/banners/banner_1_2_tomsk_podrujki.jpg', size: '880x80'), contest_path('fotokonkurs-ya-i-moi-podruzhki'), class: 'js-stat-podrujki' %>
      </li>
    <% end %>

    <% unless params[:id] == 'kraevedcheskiy-proekt-iz-antresoley' %>
      <li class='js-banner'>
        <%= link_to (image_tag 'public/banners/banner_1_2_tomsk_kraevedcheskiy.jpg', size: '880x80'), contest_path('kraevedcheskiy-proekt-iz-antresoley'), class: 'js-stat-kraevedcheskiy' %>
      </li>
    <% end %>

    <% if DateTime.now < Date.parse("12.10.2015").end_of_day %>
      <li>
        <%= link_to "http://xn--70-9kcqjfc6ag5akmpp.xn--p1ai/", :target => :_blank do %>
          <%= image_tag 'public/banners/banner_1_2_business70.jpg', :size => '880x80', :alt => 'Бизнес триумф', :title => 'Бизнес триумф' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
