<% changes = YAML.load(review.versions.last.body) if review.versions.present? %>
<table>
  <tr>
    <th>Актуальная</th>
    <th>Предыдущая версия</th>
  </tr>
  <tr>
    <td>
      <div class="title">
        <%= review.title %>
      </div>
    </td>
    <td>
      <div class="title old">
        <%= changes['title'][0] if changes && changes['title'] %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="description">
        <%= review.content %>
      </div>
    </td>
    <td>
      <div class="description old">
        <%= changes['content'][0] if changes && changes['content'] %>
      </div>
    </td>
  </tr>

</table>


<%= review.date %>
<div class="author">
  <%= render :partial => 'commons/author', :locals => { :account => @review.account } %>
</div>
