<table>
  <tr>
    <th>Последняя версия</th>
    <th>Предыдущая версия</th>
  </tr>
  <tr>
    <td>
      <div class="title">
        <%= review.title %>
      </div>
    </td>
    <td>
      <div class="title old">
        <%= review.versions.last.reify.title if review.versions.last.object.present? %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="description">
        <%= review.content %>
      </div>
    </td>
    <td>
      <div class="description old">
        <%= review.versions.last.reify.content if review.versions.last.object.present? %>
      </div>
    </td>
  </tr>

</table>

<%= review.date %>
<div class="author">
  <%= render :partial => 'commons/author', :locals => { :account => @review.account } %>
</div>
