<div class="reviews_show">
  <%= @review.state %>
  <%= render 'actions' %>

  <div class="left">
    <%= render :partial => 'manage/reviews/review', :locals => { :review => @review } %>

    <% if @review.tag %>
      <ul class="tags">
        <% @review.tags.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render @review.webanketas.actual %>
  <% if @review.moderating? %>
  <div>
    <%= simple_form_for @review, url: payment_manage_review_path(@review.id) do |f| %>
      <%= f.input :price %>
      <%= f.submit 'Разрешить' %>
    <% end %>
    <%= simple_form_for @review, url: draft_manage_review_path(@review.id) do |f| %>
      <%= f.input :comment, as: :text %>
      <%= f.submit 'Запретить' %>
    <% end %>
  </div>
  <% end %>
</div>
