<div class="reviews_show">
  <span class='state'><%= t("review.state.#{@review.state}") %></span>

  <%= render 'actions' %>

  <div class="left">
  <%= image_tag(@review.annotation_image(200, 200)) %>
    <%= render :partial => 'manage/reviews/review', :locals => { :review => @review } %>

    <% if @review.tag %>
      <ul class="tags">
        <% @review.tags.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render @review.webanketas.actual %>
    <% if @review.moderating? %>
      <div class="decision">
        <div class="allow">
          <%= simple_form_for @review, url: payment_manage_review_path(@review.id) do |f| %>
            <%= f.input :price, label: 'Цена', input_html: {value: 50} %>
            <%= f.submit 'Запросить оплату', class:'flat-btn btn-green btn-lg' %>
          <% end %>
        </div>
        <div class="disallow">
          <%= simple_form_for @review, url: draft_manage_review_path(@review.id) do |f| %>
            <%= f.input :comment, as: :text, label: 'Комментарий' %>
            <%= f.submit 'Запретить',class:'flat-btn btn-red btn-lg' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'manage/reviews/versions', :locals => { :review => @review } %>
  </div>
</div>
