<div>Уважаемый(ая) <%= @discount.account.first_name %>  <%= @discount.account.last_name %>, Ваша скидка <%= @discount.title %> перемещена в архив.</div>
<div>Вы можете воспользоваться услугой поднятия скидки за 30 рублей. Ваша скидка будет размещена вверху списка скидок и сутки будет выдела. Поднять скидку Вы можете в управлении скидками <%= my_discounts_url %>
<div>Также Вы можете воспользоваться дополнительными услугами привлечения внимания к скидке:</div>
<div>Закрепление скидки/купона/сертификата на главной странице – 100 рублей в сутки.</div>
<div>Закрепление скидки/купона/сертификата в правой части раздела – 300 рублей в сутки.</div>
<div>По вопросам обращайтесь к нашим менеджерам <%= 'discounts@znaigorod.ru' %> или по телефону +7-913-111-83-87.</div>
<div>С Уважением, администрация портала ЗнайГород <%= 'http://znaigorod.ru' %></div>
