<div>Уважаемый(ая) <%= @discount.account.first_name %>  <%= @discount.account.last_name %>, через 3 дня Ваша скидка <%= link_to @discount.title, discount_url(@discount) %> будет перемещена в архив.</div>
<div>Для того чтобы Ваша скидка не оказалась в архиве, Вы можете воспользоваться услугой поднятия скидки за 30 рублей. Ваша скидка будет размещена вверху списка скидок и сутки будет выдела. <%= link_to 'Поднять скидку', '#' %></div>
<div>Также Вы можете воспользоваться дополнительными услугами привлечения внимания к скидке:</div>
<div>Закрепление скидки/купона/сертификата на главной странице – 100 рублей в сутки.</div>
<div>Закрепление скидки/купона/сертификата в правой части раздела – 300 рублей в сутки.</div>
<div>По вопросам обращайтесь к нашим менеджерам <%= mail_to 'discounts@znaigorod.ru' %> или по телефону +7-913-111-83-87.</div>
<div>С Уважением, администрация портала ЗнайГород <%= link_to 'http://znaigorod.ru', 'http://znaigorod.ru' %></div>
