<%= f.input :city %>
<%= f.input :street %>
<%= f.input :house %>
<%= f.input :office %>
<%= f.input :latitude, wrapper_html: { class: 'clear_left' } %>
<%= f.input :longitude %>
<%= link_to 'Получить координаты'.html_safe, '#', :class => 'get_coordinates' %>

<div class='map_wrapper'>
  <div id='map'></div>
</div>

