<%= simple_nested_form_for resource, :url => [:my, resource], :html => { :novalidate => true } do |f| %>
  <% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

  <div class='left'>
    <%= f.input :vfs_path, :as => :hidden, :input_html => { :id => 'vfs_path' } %>
    <%= f.input :title %>
    <div class="addres_form">
      <div class="address_fields">
        <%= f.simple_fields_for :address %>
      </div>
    </div>

    <div class='full_schedules_edit'>
      <div class="full_schedules_fields">
        <%= f.simple_fields_for :full_schedules %>
        <%= f.error :full_schedules %>
        <%= f.link_to_add 'Добавить расписание', :full_schedules, :class => 'add_full_schedules' %>
      </div>
    </div>

    <hr>

    <div class='phone_edit'>
      <label class='like_control_label'>Телефоны</label>
      <div class='icon-info show_tipsy_w' original-title="Номера указываются через запятую в одной из следующих форм: 22-33-44, (3822)11-22-33, 333-444, (3822)333-444, 8-333-444-55-66"></div>
      <%= f.input :phone, hint: false, label: false %>
    </div>
    <%= f.input :email, as: :string %>
    <%= f.input :site, as: :string %>

    <div class="select_categories input">
      <div class="categories_title">
        <%= label_tag :cat, "Категории <abbr title='Обязательное поле'>*</abbr>".html_safe, class: 'like_control_label' %>
      </div>


      <%= select_tag :cat, options_for_select(OrganizationCategory.all), :class => 'select_type', :prompt => '' %>
      <%= f.error :organization_category_ids %>
      <%= f.input :tagit_categories,
        :as => :string,
        :label => false,
        :input_html => { :class => 'tagit_categories', :value => resource.organization_categories.map(&:title).join(', ') }%>

      <%= hidden_field_tag "organization[category_flag]", true %>
    </div>

    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= f.submit 'Сохранить', class: 'flat-btn btn-lg btn-orange' %>
      <%= link_to 'Удалить'.html_safe, my_organization_path(resource), method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  </div>
<% end %>
