<%= f.input :from %>
<%= f.input :to %>
<div class='days'>
  <%= f.input :monday, input_html: { class: 'monday' } %>
  <%= f.input :tuesday, input_html: { class: 'tuesday' } %>
  <%= f.input :wednesday, input_html: { class: 'wednesday' }  %>
  <%= f.input :thursday, input_html: { class: 'thursday' }  %>
  <%= f.input :friday, input_html: { class: 'friday' }  %>
  <%= f.input :saturday, input_html: { class: 'saturday' }  %>
  <%= f.input :sunday, input_html: { class: 'sunday' }  %>
  <%= f.input :free, input_html: {class: 'free' } %>
</div>
<%= f.simple_fields_for :breaks do |b| %>
  <%= b.input :from %>
  <%= b.input :to %>
  <%= b.link_to_remove 'Удалить перерыв' %>
<% end  %>
<%= f.link_to_add 'Добавить перерыв', :breaks %>
<%= f.link_to_remove 'Удалить режим' %>
