<li class='item'>
  <div>
    <div class="title">
      <%= link_to organization.title, my_organization_path(organization) %>
    </div>

    <div class="poster">
      <%= link_to my_organization_path(organization) do %>
        <%= image_tag (organization.poster_url? ? resized_image_url(organization.poster_url, 178, 240) : 'public/stub_poster.png'), :size => '178x240' %>
      <% end %>
    </div>

    <div class="actions">
      <%= link_to 'На модерацию', publish_my_organization_path(organization), :method => :put %>
      <%= link_to '', edit_my_organization_path(organization), class: 'edit_button' if (can? :edit, organization) && (organization.draft? || organization.published? ) %>
      <%= link_to '', my_organization_path(organization), class: 'trash', method: :delete, confirm: 'Вы уверены что хотите удалить?' if (can? :destroy, organization) && organization.draft? %>
    </div>
  </div>
</li>
