<% content_for :account_content do %>
  <div class='feeds'>
    <div class="invitations header">
      <div class='clear'>
        <span class="panel"></span>
      </div>
      <h3>
        <% vfs_path = "/znaigorod/organizations/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
        <%= link_to "Мои заведения", new_my_organization_path(:params => {'organization[vfs_path]' => "#{vfs_path}"}), class: 'add_link' %>
      </h3>
      <%= link_to 'Добавить заведение', new_my_organization_path(:params => {'organization[vfs_path]' => "#{vfs_path}"}), class: :invitation_link if can? :new, Organization %>
    </div>
    <div id='events_filter'>
      <ul>
        <% %w[all draft published].each do |state| %>
          <li>
            <%= link_to "##{state}" do %>
              <% unless state == 'all' %>
                <%= t(state, count: @organizations.by_state(state).total_count) %>
              <% else %>
                <%= t(state, count: current_user.organizations.count) %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>

    <div class='content'>
      <% %w[all draft published].each do |state| %>
        <div id='<%= state %>' class='list'>
          <div class='organizations_main_page_list'>
            <% if @organizations.any? %>
              <ul class='posters_organizations'>
                <% unless state == 'all' %>
                  <% organization_list = @organizations.by_state(state) %>
                <% else %>
                  <% organization_list = @organizations %>
                <% end %>
                <% organization_list.each do |organization| %>
                  <%= render :partial => 'list_item', locals: { organization: organization }  %>
                <% end %>
              </ul>
            <% else %>
              <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @organizations %>
    </div>
    </div>
  </div>
<% end %>
<%= render file: "my/accounts/wrapper" %>
