<%= render partial: 'tabs', locals: { organization: resource } %>
<%= hidden_field_tag :js_organization_id, resource.id %>
<div class='my_organization managers'>
  <h1>Менеждеры</h1>
  <div class='js-users_auto_complete'>
    <%= text_field_tag :user_name,
      nil,
      :class => 'js-input_user',
      :placeholder => 'Имя пользователя',
      :data => { 'autocomplete-source' => find_users_path } %>
    <%= email_field_tag :email, nil, class: 'target_email', placeholder: 'E-mail пользователя' %>
    <%= hidden_field_tag :user_id, nil, class: 'target_user_id' %>
    <div class='add_manager'>
      <%= link_to 'Добавить менеджера', send_about_confirm_role_my_organization_path(resource.id, :user_id => nil, :user_email => nil), class: 'js-confirm_role_link', remote: true %>
    </div>
  </div>
  <%= render partial: 'managers', locals: { resource: resource } %>
</div>
