<%= render partial: 'tabs', locals: { organization: resource } %>
<div class='my_organization payment_organization_tariff landing_content'>
  <div class='tariffs'>
    <div class='tariff'>
      <div class='head'>
        <h1>Минимальный пакет</h1>
        <span>1000 руб./мес.</span>
      </div>
      <ul class='services'>
        <li><div class='info'><p>Добавление логотипа</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Добавление краткого описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p class='disabled'>Добавление полного описания</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p class='disabled'>Размещение фотографий</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p class='disabled'>Размещение прайса</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
        <div></div>
        <li class='heiger'><div class='info'><p class='disabled'>Индивидуальное брендирование<br>страницы организации</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
      </ul>

      <%= render partial: 'tariff_payment', locals: { resource: resource, tariff: @minimal } %>
    </div>

    <div class='tariff' >
      <div class='head'>
        <h1>Базовый пакет</h1>
        <span>1500 руб./мес.</span>
      </div>
      <ul class='services'>
        <li><div class='info'><p>Добавление логотипа</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Добавление краткого описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Добавление полного описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Размещение фотографий</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p class='disabled'>Размещение прайса</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
        <div></div>
        <li class='heiger'><div class='info'><p class='disabled'>Индивидуальное брендирование<br>страницы организации</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
      </ul>

      <%= render partial: 'tariff_payment', locals: { resource: resource, tariff: @middle } %>
    </div>

    <div class='tariff'>
      <div class='head'>
        <h1>Полный пакет</h1>
        <span>2500 руб./мес.</span>
      </div>
      <ul class='services'>
        <li><div class='info'><p>Добавление логотипа</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Добавление краткого описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Добавление полного описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Размещение фотографий</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li><div class='info'><p>Размещение прайса</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
        <div></div>
        <li class='heiger'><div class='info'><p>Индивидуальное брендирование<br>страницы организации</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      </ul>

      <%= render partial: 'tariff_payment', locals: { resource: resource, tariff: @premium } %>
    </div>
  </div>
</div>
