<% content_for :page_title, t('cooperation.service.title', :default => '') %>
<% content_for :meta_keywords, t('cooperation.service.keywords', :default => '') %>
<% content_for :meta_description, t('cooperation.service.description', :default => '') %>

<% if page_meta %>
  <% content_for :extra_meta do %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% end %>
<% end %>

<div class='cooperation'>

  <h1><%= page_meta ? page_meta.header.squish.html_safe :  'Услуги и цены ЗнайГород' %></h1>

  <div class='service_left'>
    <div class='service_payment_wrapper'>
      <h2>Оплата услуг</h2>
      <p><%= 'Для оплаты размещения рекламных услуг укажите в поле "Сумма платежа" оговоренную с менеджером сумму, в поле "Назначение платежа" название услуги и обязательно название заведения.'.gilensize %></p>
      <%= simple_form_for @service_payment do |f| %>
        <%= f.input :amount %>
        <%= f.input :details %>
        <div class='submit'>
          <%= f.submit 'Оплатить' %>
        </div>
      <% end %>
    </div>

    <div class="phones">
      <div class="icon">
      </div>
      <div class="body">
        <% t("services.#{Settings['app.city']}.phone").split(',').each do |p| %>
          <strong><%= p %></strong> <br />
        <% end %>
      </div>
    </div>

    <div class="emails">
      <div class="icon">
      </div>
      <div class="body">
        <%= mail_to 'office@znaigorod.ru' %>
      </div>
    </div>

    <div class='our_logotype'>
      <p><%= image_tag 'znaigorod_logo.png', :size => '200x150', :alt => 'Логотип ЗнайГород' %></p>
      <p><%= link_to 'Логотип ЗнайГород в векторном формате (Adobe Illustrator v6.0)', asset_path('znaigorod_logo.ai') %></p>
      <p><%= link_to 'Логотип ЗнайГород в растровом формате (Portable Network Graphics, 200x150)', asset_path('znaigorod_logo.png') %></p>
    </div>
  </div>

  <div class='service_right'>
    <div class="toggable">
      <div class="toggler">
        <h2>1. Страницы заведений<%= link_to '*', '#one_star', :class => 'example_link' %></h2>
        <p>
          Подробное описание специфики заведения и предоставляемых услуг, особое внимание уделяется уникальным особенностям, фото и видео интерьера, виртуальный тур. В комплекс услуг входит продвижение страницы заведения (регистрация в справочниках, контекстная реклама, продвижение в поисковых системах и социальных сетях). Возможно создание страниц заведений с индивидуальным дизайном и выделением отдельного доменного имени. (Примеры Вы можете посмотреть <%= link_to 'в списке наших клиентов', our_customers_path, class: :example_link %>)
        </p>
      </div>
      <div class="info">
        <table>
          <tr>
            <th class='center'>Наименование услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Период размещения</th>
          </tr>
          <tr>
            <td>Оформление и продвижение страницы заведения</td>
            <td class='center'>От 6800</td>
            <td class='center'>в год</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="toggable">
      <div class='toggler'>
        <h2>2. Афиша</h2>
      </div>
      <div class="info">
        <table>
          <tr>
            <th class='center'>Название услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Цена, руб. (для клиентов<%= link_to '**', '#two_stars' %>)</th>
            <th class='center'>Период</th>
          </tr>
          <tr>
            <td>Размещение афиши пользователем<%= link_to 'Добавить афишу', new_my_afisha_path, :class => :discount_link %></td>
            <td class='center' colspan='2'>Бесплатно</td>
            <td class='center'></td>
          </tr>
          <tr>
            <td>Размещение афиши менеджером</td>
            <td class='center'>200</td>
            <td class='center'>100</td>
            <td class='center'></td>
          </tr>
          <tr>
            <td>Реализация билетов</td>
            <td class='center' colspan='2'>10% от стоимости билета</td>
            <td class='center'></td>
          </tr>
          <tr>
            <td>Поднятие афиши</td>
            <td class="center" colspan='2'>30</td>
            <td class="center">Сутки</td>
          </tr>
          <tr>
            <td>Закрепление афиши в правой части раздела</td>
            <td class="center" colspan='2'>300</td>
            <td class="center">Сутки</td>
          </tr>
          <tr>
            <td>Закрепление афиши на главной странице</td>
            <td class="center" colspan='2'>200</td>
            <td class="center">Сутки</td>
          </tr>
          <tr>
            <td>Упоминание афиши в еженедельном обзоре мероприятий на выходные</td>
            <td class="center" colspan='2'>200</td>
            <td class="center">Раз в неделю</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="toggable">
      <div class='toggler'>
        <h2>3. Скидки/Купоны</h2>
      </div>
      <div class="info">
        <table>
          <tr>
            <th class='center'>Название услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Цена, руб. (для клиентов<%= link_to '**', '#two_stars' %>)</th>
            <th class='center'>Период</th>
          </tr>
          <tr>
            <td>Размещение информации о скидке, акции пользователем <%= link_to "Добавить скидку", help_my_discounts_path, :class => :discount_link %></td>
            <td class='center' colspan='2'>Бесплатно</td>
            <td class='center'></td>
          </tr>
          <tr>
            <td>Размещение информации о скидке, акции менеджером портала</td>
            <td class='center'>200</td>
            <td class='center'>100</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td>Реализация сертификатов</td>
            <td class='center' colspan='2'>10% от стоимости сертификата</td>
            <td class='center'></td>
          </tr>
          <tr>
            <td>Распространение бесплатных купонов</td>
            <td class="center" colspan='2'>10</td>
            <td class="center">За один купон</td>
          </tr>
          <tr>
            <td>Реализация купонов</td>
            <td class="center" colspan='2'>от 50</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Поднятие скидки/купона/сертификата</td>
            <td class="center" colspan='2'>30</td>
            <td class="center">Сутки</td>
          </tr>
          <tr>
            <td>Закрепление скидки/купона/сертификата на главной странице</td>
            <td class="center" colspan='2'>200</td>
            <td class="center"></td>
          </tr>
          <tr>
            <td>Закрепление скидки/купона/сертификата в правой части раздела</td>
            <td class="center" colspan='2'>300</td>
            <td class="center">Сутки</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="toggable">
      <div class='toggler'>
        <h2>4. Обзоры</h2>
      </div>
      <div class="info">
        <table>
          <tr>
            <th class='center'>Название услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Цена, руб. (для клиентов<%= link_to '**', '#two_stars' %>)</th>
            <th class='center'>Период</th>
          </tr>
          <tr>
            <td>Разработка и публикация обзора (до 2000 знаков)</td>
            <td class='center'>3500</td>
            <td class='center'>Входит в пакет</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td>Участие в тематических агрегированных обзоров (несколько заведений)</td>
            <td class='center'>1000</td>
            <td class='center'>Входит в пакет</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td>Публикация рекламных обзоров (с открытыми ссылками, до 2000 знаков)<%= link_to 'Добавить обзор', new_my_review_path, :class => :discount_link %></td>
            <td class='center'>900</td>
            <td class='center'>Входит в пакет</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td>Закрепление обзора на главной</td>
            <td class="center" colspan='2'>200</td>
            <td class="center">Сутки</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='toggable'>
      <div class='toggler'>
        <a href='#'>&uarr; свернуть</a>
        <h2>5. Реклама в группах ЗнайГород</h2>
      </div>
      <div class='info'>
        <table>
          <tr>
            <th class='center'>Наименование услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Период размещения</th>
          </tr>
          <tr>
            <td >Пост в группе ВК <%= link_to 'http://vk.com/znaigorod', 'http://vk.com/znaigorod', :target => '_blank', :class => :discount_link %></td>
            <td class='center'>350</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td>Репост группе ВК <%= link_to 'http://vk.com/znaigorod', 'http://vk.com/znaigorod', :target => '_blank', :class => :discount_link %></td>
            <td class='center'>450</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td>
              Кросс-пост (размещение одновременно в группах ЗнайГород в
              <%= link_to 'ВК', 'http://vk.com/znaigorod', :target => '_blank', :class => :discount_link %>,
              <%= link_to 'Одноклассниках', 'http://ok.ru/group/54186972610564', :target => '_blank', :class => :discount_link %>,
              <%= link_to 'Facebook','https://ru-ru.facebook.com/znai.gorod', :target => '_blank', :class => :discount_link %>,
              <%= link_to 'Twitter', 'https://twitter.com/znaigorod', :target => '_blank', :class => :discount_link %>)
              <%= link_to 'Instagram', 'https://www.instagram.com/znaigorod/', :target => '_blank', :class => :discount_link %>)
            </td>
            <td class='center'>600</td>
            <td class='center'>Разово</td>
          </tr>
          <tr>
            <td >Рассылка по ВК <%= link_to 'http://vk.com/znaigorod', 'http://vk.com/znaigorod', :target => '_blank', :class => :discount_link %></td>
            <td class='center'>1000</td>
            <td class='center'>Разово</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='toggable'>
      <div class='toggler'>
        <a href='#'>&uarr; свернуть</a>
        <h2>6. Медийная реклама</h2>
      </div>
      <div class='info'>
        <table>
          <tr>
            <th class='center'>Наименование услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Период размещения</th>
          </tr>
          <tr>
            <td >Брендирование портала.<%= link_to '(примеры)', '#brand_examples', :class => :discount_link %></td>
            <td class='center'>7000</td>
            <td class='center'>Неделя</td>
          </tr>
          <tr>
            <td >Баннер 1.1</td>
            <td class='center'>5000</td>
            <td class='center'>Неделя</td>
          </tr>
          <tr>
            <td >Баннер 1.2</td>
            <td class='center'>3000</td>
            <td class='center'>Неделя</td>
          </tr>
          <tr>
            <td >Баннер 1.3 в афише</td>
            <td class='center'>1500</td>
            <td class='center'>Неделя</td>
          </tr>
          <tr>
            <td >Баннер 1.3 в заведениях</td>
            <td class='center'>1000</td>
            <td class='center'>Неделя</td>
          </tr>
          <tr>
            <td >Баннер 1.3 в скидках</td>
            <td class='center'>1000</td>
            <td class='center'>Неделя</td>
          </tr>
        </table>
        <p>Схема банеров на портале ЗнайГород.</p>
        <p>
          <%= link_to image_tag('public/cooperation/schema-3.png', :size => '450x398'), asset_path('public/cooperation/schema-3-big.png') %>
        </p>
      </div>
    </div>

    <div class="toggable">
      <div class='toggler'>
        <h2>7. Конкурсы</h2>
      </div>
      <div class="info">
        <table>
          <tr>
            <th class='center'>Название услуги</th>
            <th class='center'>Цена, руб.</th>
            <th class='center'>Период</th>
          </tr>
          <tr>
            <td>Организация конкурса на странице заведения (2 поста в группе + баннер 1.3)</td>
            <td class='center'>2000</td>
            <td class='center'>Неделя</td>
          </tr>
          <tr>
            <td>Проведение конкурса в группе ВК <%= link_to 'http://vk.com/znaigorod', 'http://vk.com/znaigorod', :target => '_blank', :class => :discount_link %></td>
            <td class='center'>600</td>
            <td class='center'>3 дня</td>
          </tr>
          <tr>
            <td>Проведение отдельного фотоконкурса</td>
            <td class='center'>30000</td>
            <td class='center'>2 недели</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='stars'>
      <p> <a name='one_star'></a>* - Если под брендом одного заведения действуют несколько заведений, то основное оплачивается 100%, все последующие - со скидкой 50%.</p>
      <p>Если у одного клиента несколько заведений, то основное оплачивается 100%, за каждое последующее — скидка 25%.</p>
      <p><a name='two_stars'></a>** - Клиентом считается заведение у которого оформлена страница в соответствии с п.1</p>
    </div>

    <div class='brand_examples'>
      <a name='brand_examples'></a>
      <p>Примеры брендирования</p>

      <ul>
        <li>
          <%= link_to image_tag('public/cooperation/brand-1.jpg', :size => '400x250'), asset_path('public/cooperation/brand-1-big.jpg') %>
        </li>
        <li>
          <%= link_to image_tag('public/cooperation/brand-2.jpg', :size => '400x440'), asset_path('public/cooperation/brand-2-big.jpg') %>
        </li>
      </ul>

      <p>Схема банеров на портале ЗнайГород</p>
      <ul>
        <li>
          <%= link_to image_tag('public/cooperation/schema-3.png', :size => '450x398'), asset_path('public/cooperation/schema-3-big.png') %>
        </li>
      </ul>

    </div>
  </div>
</div>

<% if page_meta %>
  <div class='introduction'>
    <%= page_meta.html_introduction %>
  </div>
<% end %>
