<div class="organizations_main_page_list">
  <div class="filter_header">
    <h2><%= link_to t("meta.#{Settings['app.city']}.organizations.page_header"), organizations_path %></h2>
  </div>


  <% cache('main_page_organizations', :expires_in => 10.minutes) do %>
    <div class="filters_wrapper grayline-navigation hidden-xs hidden-sm">
      <div class="filters organization">
        <div class="by_kind">
          <ul>
            <% @organizations.categories_links.each do |category_link| %>
              <li class='<%= category_link[:klass] %>'>
                <%= link_to send(category_link[:url], category_link[:parameters]) do %>
                  <%= content_tag :span, category_link[:title], :class => :name %>
                  <%= content_tag :span, category_link[:count], :class => :count %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="filters_for_mobile_organizations visible-xs visible-sm">
      <div class='mobile-version-filters'>
        <p> Категория: </p>
          <select onchange="location = this.value">
            <% @organizations.categories_links.each do |category_link| %>
              <option class='<%= category_link[:klass] %><%= ' selected' if category_link[:current] %>'
                      value="<%= send(category_link[:url], category_link[:parameters]) %>"
                      <%= 'selected' if category_link[:current] %>>
                  <%= category_link[:title] %>
              </option>
            <% end %>
        </select>
      </div>
    </div>

    <ul class="posters">
      <% @organizations.promoted_clients.each do |organization| %>
        <li class="item_organization">
          <%= render :partial => 'organizations/organization', :locals => { :organization => organization, width: 600, height: 600 } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
