<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>

<div class='map_projects_wrapper'>
  <div class='map_projects_content'>

    <div class='map_projects_header'>
      <h1 class='lobster_font'><%= page_meta.try(:og_title) %></h1>
      <div class="link">
        <%= link_to 'Добавить метку на карту', map_placemarks_index_path, :class => 'flat-btn btn-red btn-lg' %>
      </div>
    </div>

    <div class='map_projects_main'>

      <%= render :partial => 'map_layers', :locals => { :map_project => @map_project } %>

      <div class='right'>
        <div class='map_wrapper'>
          <div class='placemarks_list'>
            <span data-cluster_icon="<%= @map_layer ? @map_layer.icon_image_url : @map_project.cluster_icon_url %>" class='js-cluster-icon' style='display: none'></span>
            <% @map_placemarks.each do |map_placemark| %>
              <%= render :partial => 'map_placemark', :locals => { :map_layer => @map_layer ? @map_layer : map_placemark.map_layers.first, :map_placemark => map_placemark } %>
            <% end %>
          </div>
          <div class='map' data-latitude="<%= Settings['app.coords.latitude'] %>" data-longitude="<%= Settings['app.coords.longitude'] %>"></div>
        </div>
        <% if params[:id] == 'novyj_god_2016_v_tomske' || params[:id] == 'novyj_god_2016_v_sevastopole'%>
          <div class='latest_questions'>
            <div class="left">
              <h3>Вопросы и ответы на все случаи жизни</h3>
              <p><%= link_to 'Задать вопрос', new_my_question_path, :class => 'flat-btn btn-lg btn-orange' %></p>
            </div>

            <div class="right">
              <% @questions.each do |question| %>
                <div class='item'>
                  <div class="avatar">
                    <%= render :partial => 'accounts/avatar',
                      :locals => { :account => question.account, :width => 50, :height => 50, :title => question.account } %>
                    <div class="title"><%= link_to question.title, question_path(question) %></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <%= render :partial => 'related_reviews' %>

    <% if page_meta %>
      <div class='introduction'>
        <%= page_meta.html_introduction %>
      </div>
    <% end %>
  </div>
</div>
