<% afishas.each_slice(4).with_index do |afisha_slice, index| %>
  <% afisha_slice.each do |afisha| %>
    <li class="item fresh<%= ' highlighted' if afisha.highlighted? %> <%= cycle('first', 'second', 'third', 'fourth') %>">
      <%= render :partial => 'afishas/afisha_poster', :locals => { :afisha => afisha } %>
    </li>
  <% end %>
  <%= render :partial => 'commons/promo_discounts', :locals => {:type => 'afisha' } if index == 1 && controller_name == 'afishas'%>
<% end %>

<% unless presenter.collection.last_page? || controller_name == 'organizations'%>
  <li class="item pagination">
    <%= link_to_next_page presenter.paginated_collection, "Еще события (#{presenter.current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
  </li>
<% end %>
