<div class='<%= auto_content_class %> grayline-navigation'>
  <div class='filters'>
    <div class='by_kind'>
      <ul>
        <% @presenter.categories_links.each do |category_link| %>
          <li class='<%= category_link[:klass] %><%= ' selected' if category_link[:current] %>'>
            <%= link_to send(category_link[:url], category_link[:parameters]) do %>
              <%= content_tag :span,  category_link[:title], class: :name %>
              <%#= content_tag :span, category_link[:count], class: :count  %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='filters_for_mobile_afisha visible-xs'>
  <div class='filters_by_category_mobile'>
    <div class='mobile-version-filters'>
      <p> Категория: </p>
      <select onchange="location = this.value">
        <% @presenter.categories_links.each do |category_link| %>
          <option class='<%= category_link[:klass] %><%= ' selected' if category_link[:current] %>'
                  value="<%= send(category_link[:url], category_link[:parameters]) %>"
                  <%= 'selected' if category_link[:current] %>>
              <%= category_link[:title] %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

    <div class='filters filters_when_mobile visible-xs'>
      <div class='by_date'>
        <% calendar_item = @presenter.periods_links.last %>
        <div class='mobile-date-filters'>
          <span> Когда: </span>
          <select onchange="location = this.value">
            <% @presenter.periods_links[0..-2].each do |period_link| %>
            <option class='<%= period_link[:klass] %><%= 'selected' if period_link[:current] %>'
                    value="<%= send(period_link[:url], period_link[:parameters]) %>"
                    <%= 'selected' if period_link[:selected] %>>
              <%= period_link[:title] %>
            </option>
          <% end %>
        </select>
        </div>

        <ul class='with-datepicker'>
          <li>
            <%= link_to calendar_item[:title],
              send(calendar_item[:url], calendar_item[:parameters]), :class => calendar_item[:class] %>
          </li>
        </ul>

      </div>
    </div>


    <div class='presentation_filters afisha'>
      <!--noindex-->
      <%= render :partial => 'commons/presentation_filters' %>
      <!--/noindex-->
    </div>
</div>



<div class='filters-by-wrapper filters-for-afisha'>
  <div class='filters-inner-wrapper'>
    <div class='filters afisha'>
      <div class='by_date'>
        <ul class='with-datepicker'>
          <li>Когда: </li>
          <% @presenter.periods_links.each do |period_link| %>
            <li<%= " class=selected" if period_link[:selected] %>>
              <%= link_to period_link[:title],
                send(period_link[:url], period_link[:parameters]), :class => period_link[:class] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='presentation_filters afisha'>
      <!--noindex-->
      <%= render :partial => 'commons/presentation_filters' %>
      <!--/noindex-->
    </div>
  </div>
</div>
