<div class='landing_content'>
<div class='capability'>
  <table>
    <td><div>
        <div class='image'><%= image_tag 'landing/1.png' %></div>
        <h2>ПОЧЕМУ ИМЕННО «ЗНАГОРОД»</h2>

        <div class='info'>
        Мультигородской информационный портал
        ЗнайГород - это прекрасная возможность
        рассказать всем о своем заведении.
        Мы поможем Вам быстро и удобно поместить
        всю необходимую информацию о Вашей
        организации, и привлечь как можно
        больше клиентов.
        </div>
    </div></td>
    <td><div>
        <div class='image'><%= image_tag 'landing/2.png' %></div>
        <h2>УПРАВЛЯЙТЕ СВОЕЙ СТРАНИЦЕЙ</h2>

        <div class='info'>
        В личном кабинете предоставляется
        широкий выбор возможностей для
        управления страницей Вашей организации.
        Теперь Вы самостоятельно решаете,
        какая информация будет отображаться на ней.
        </div>
    </div></td>
    <td><div class='no_border'>
        <div class='image'><%= image_tag 'landing/3.png' %></div>
        <h2>ПРИВЛЕКАЙТЕ КЛИЕНТОВ</h2>

        <div class='info'>
        Уже сейчас Вы можете расширить свои
        возможности. Создавайте уникальный дизайн
        страницы организации, добавляйте необходимую информацию и фотографии, проводите акции
        и скидки для клиентов. Это позволит Вам
        выделится на фоне конкурентов.
        </div>
    </div></td>
  </table>
</div>
<div class='steps'>
  <h3>НАЧНИТЕ УПРАВЛЯТЬ СТРАНИЦЕЙ ЗАВЕДЕНИЯ В НЕСКОЛЬКО ШАГОВ</h3>
  <ul>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>1</span></div></div></div><div class='info'><span>Зарегистрироваться на портале (если у вас уже есть учётная запись, то этот шаг пропускается)</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>2</span></div></div></div><div class='info'><span>Подать заявку на получение прав представителя заведения (для этого нужно нажать кнопку <b>&laquoЯ владелец&raquo</b> на странице Вашей организации)</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>3</span></div></div></div><div class='info'><span>Дождаться одобрения администратора</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>4</span></div></div></div><div class='info'><span>В своём личном кабинете перейти на вкладку <b>&laquoМои организации&raquo</b>, где будет указан список заведений, доступных для управления</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>5</span></div></div></div><div class='info'><span>Перейти в личный кабинет</span></div></li>

  </ul>
</div>
<div class='tariffs'>
  <h1 class='main'>ПОДПИСКИ</h1>
  <div class='tariff'>
    <div class='head'>
      <h1>Минимальный пакет</h1>
      <span>1000 руб./мес.</span>
    </div>
    <ul class='services'>
      <li><div class='info'><p>Добавление логотипа</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Добавление краткого описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p class='disabled'>Добавление полного описания</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p class='disabled'>Размещение фотографий</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p class='disabled'>Размещение прайса</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
      <div></div>
      <li class='heiger'><div class='info'><p class='disabled'>Индивидуальное брендирование<br>страницы организации</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
    </ul>
  </div>

  <div class='tariff' >
    <div class='head'>
      <h1>Базовый пакет</h1>
      <span>1500 руб./мес.</span>
    </div>
    <ul class='services'>
      <li><div class='info'><p>Добавление логотипа</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Добавление краткого описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Добавление полного описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Размещение фотографий</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p class='disabled'>Размещение прайса</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
      <div></div>
      <li class='heiger'><div class='info'><p class='disabled'>Индивидуальное брендирование<br>страницы организации</p><span><%= image_tag 'landing/minus.png' %></span></div></li>
    </ul>

  </div>

  <div class='tariff'>
    <div class='head'>
      <h1>Полный пакет</h1>
      <span>2500 руб./мес.</span>
    </div>
    <ul class='services'>
      <li><div class='info'><p>Добавление логотипа</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Добавление краткого описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Добавление полного описания</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Размещение фотографий</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li><div class='info'><p>Размещение прайса</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
      <div></div>
      <li class='heiger'><div class='info'><p>Индивидуальное брендирование<br>страницы организации</p><span><%= image_tag 'landing/plus.png' %></span></div></li>
    </ul>

  </div>
</div>
<div class='end'>
  <%= link_to new_my_organization_path, class: 'link_to_add flat-btn btn-red btn-lg' do %>
    <span>Добавить организацию</span>
  <% end %>
</div>
