<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1.17/?load=package.full&lang=ru-RU') %>
<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :extra_meta do %>

  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%#= vk_meta(@presenter.category_slug, (send "organizations_by_category_url"), 'znaigorod_logo.png') %>
  <% end %>
<% end %>

<%= render partial: 'promo_block', :locals => { :promoted_clients => @presenter.promoted_clients, :sub_class => 'organization' } unless params[:slug] == 'tury_sevastopolya' %>

<%= render partial: 'filters_and_search' %>

<% if @presenter.category %>
  <%= render :partial => "#{@presenter.view_type}_view" %>
<% else %>
  <% if @presenter.query %>
    <%= render :partial => "#{@presenter.view_type}_view" %>
  <% else %>
    <%= render :partial => 'tree_view' %>
  <% end %>
<% end %>

<div class="like_this">
  <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
</div>

<% if @reviews.present? %>
  <div class="organization_reviews">
    <div class='reviews_title'>
      Обзоры
    </div>
    <div class='suborganization_info related-reviews'>
      <ul class='posters'>
        <%= render :partial => 'reviews/posters', locals: { collection: @reviews, height: '120', width: '184' } %>
      </ul>
    </div>
  </div>
<% end %>

<% if @afishas.present? %>
  <div class="organization_afisha afisha_content">
    <div class='afisha_title'>
      <%= params[:slug] == 'tury_sevastopolya' ? 'Экскурсии и туры по Севастополю' : 'Афиша' %>
    </div>
    <ul class='posters js-paginable-list'>
      <%= render :partial => 'afishas/afisha_posters', :locals => { :afishas => @afishas.decorated_collection, :presenter => @afishas } %>
    </ul>
  </div>
<% end %>

<% if page_meta && !top_introduction? %>
  <div class='introduction suborganization'>
    <%= page_meta.html_introduction %>
  </div>
<% elsif @presenter.meta_introduction && !top_introduction? %>
  <div class='introduction suborganization'>
    <%= @presenter.meta_introduction.as_html%>
  </div>
<% end %>
