<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1.17/?load=package.full&lang=ru-RU') %>
<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :extra_meta do %>

  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%#= vk_meta(@presenter.category_slug, (send "organizations_by_category_url"), 'znaigorod_logo.png') %>
  <% end %>
<% end %>

<%= render :partial => "organizations/content/#{category_content}" %>

<% if page_meta && !top_introduction? %>
  <div class='introduction suborganization'>
    <%= page_meta.html_introduction %>
  </div>
<% elsif @presenter.meta_introduction && !top_introduction? %>
  <div class='introduction suborganization'>
    <%= @presenter.meta_introduction.as_html%>
  </div>
  <%= google_adsense_include_tag client: 'ca-pub-6605894770961296', slot: '2858015760', format: 'auto', width: '100%', height: '90' if current_city == 'tomsk' %>
<% end %>
