<div class="filter_header">
  <h2><%= link_to t("meta.#{Settings['app.city']}.discount.page_header"), discounts_path %></h2>
</div>

<% cache('main_page_discounts', :expires_in => 10.minutes) do %>


  <div class="filters_wrapper grayline-navigation hidden-xs">
    <div class="filters discount">
      <div class="by_kind">
        <ul>
          <% @discount_filter.kind_filter.links.take(9).each do |link| %>
            <li class="<%= link.klass.gsub('selected', '') %>">
              <%= link_to link.path do %>
                <span class="name"><%= link.title %></span>
                <span class="count"><%= link.results_count %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="filters_for_mobile_discounts visible-xs">
    <div class='mobile-version-filters'>
      <p> Категория: </p>
        <select onchange="location = this.value">
          <% @discount_filter.kind_filter.links.take(9).each do |link| %>
            <option class='<%= link.klass %><%= ' selected' if link[:current] %>'
                    value="<%= link.path %>"
                    <%= 'selected' if link[:current] %>>
                <%= link[:title] %>
            </option>
          <% end %>
      </select>
      </div>
    </div>
  </div>

<% end %>

<ul class="posters tiny">
  <% @discounts.each do |discount| %>
    <%= render :partial => 'discounts/discount_poster', :locals => { :discount => discount, :@width => '420', :@height => '315' } %>
  <% end %>
</ul>
